* {
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}

body {
  font-family: 'Satoshi', sans-serif;
  font-family: 'Clash Display', sans-serif;

  margin: 0 auto;

  color: #2a254b;
}

input {
  padding: 0;
  border: none;
}

/* Убираем 'Аномальные' отступы */
img,
svg {
  vertical-align: top;
  max-width: 100%;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.content {
  margin-top: 80px;
  margin-bottom: 100px;
}

/* wrapper'ы */

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.wrapper-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.wrapper-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-wrapper {
  display: grid;
  gap: 40px 20px;
  align-items: stretch;
  grid-template-columns: repeat(4, 305px);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header */

.header-container {
  max-width: 1386px;
  margin: 0 auto;
}

.top-nav__item {
  width: 48px;
}

.top-nav__ico {
  height: 16px;
}

.top-nav__link {
  margin: 20px 0;
}

.main-nav__list {
  max-width: 720px;
  justify-content: center;
}

.main-nav__item {
  margin-right: 44px;
}

.main-nav__item:last-child {
  margin: 0px;
}

.main-nav__item a:hover {
  color: #4e4d93;
}

.body__medium:after {
  background: #4e4d93;
  display: block;
  content: '';
  height: 1px;
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.body__small:after {
  background: #ebe8f4;
  display: block;
  content: '';
  height: 1px;
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.footer-nav__item a:hover:after,
.footer-nav__item a:hover:after,
.main-nav__item a:hover:after,
.main-nav__item a:focus:after {
  width: 100%;
}

/* hero block */

.hero-block {
  background: url('/img/pic/HeroBlocks.avif') no-repeat center center;
  background-size: cover;
}

.hero-block__content {
  max-width: 630px;
  min-height: 444px;

  background: #ffffff;

  margin: 130px 0px;
  padding: 50px 60px;
}

.view-collection__button {
  padding: 15.5px 32px;
  background: #f9f9f9;
  border: none;

  width: fit-content;
  cursor: pointer;
}

.view-collection__button:hover {
  background: #ebe8f4;
}

.button__white {
  background: rgba(249, 249, 249, 0.15);
}

.button__white:hover {
  background: rgba(249, 249, 249, 0.3);
}

/* feature card */

.features-card {
  width: 305px;
  padding: 48px;
  background: #f9f9f9;
}

.features_header {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}

.card-header {
  padding: 12px 0;
}

/* listings */

.listings-card {
  width: 305px;
  min-height: 462px;
}

.listing-card-header {
  margin-top: 24px;
  padding-bottom: 8px;
}

.listings-card:nth-last-child(-n + 2) {
  display: none;
}

.listings-button {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: 48px;
}

/* promo */

.promo-card {
  width: 630px;
  min-height: 478px;

  background: #2a254b;

  padding: 64px;
  margin-bottom: 60px;
}

.promo-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* club */

.club {
  background: url('/img/pic/Image.avif') no-repeat center center;
  background-size: cover;
}

.club-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 260px;

  margin: 100px auto 80px;
}

.checkmark {
  padding-left: 10px;
}

.club-form {
  display: flex;
  align-self: center;
}

.club-input {
  width: 354px;
  height: 56px;
  padding-left: 32px;
}

input[button] {
  background: #2a254b;
  color: white;
  width: 118px;
  height: 56px;
}

input[button]:hover {
  background: #1e193e;
  color: #ebe8f4;
  cursor: pointer;
}

/* footer */

.footer {
  background: #2a254b;
}

.footer-wrapper {
  padding: 60px 0 50px;
}

.footer-menu-wrapper {
  width: 540px;
}

.footer-wrapper-icons {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.footer-nav__item {
  padding-top: 12px;
}

.footer-input {
  width: 509px;
  height: 56px;

  margin-top: 16px;
  padding-left: 32px;
  background: rgba(255, 255, 255, 0.15);
}

.footer-input::placeholder {
  color: white;
}
